# Mistral AI API Key
# Get yours at https://console.mistral.ai/api-keys
MISTRAL_API_KEY=your_mistral_api_key_here

# E2B  API Key
# Get yours at https://e2b.dev/dashboard?tab=keys
E2B_API_KEY=e2b_your_api_key_here
